/* encoding: utf-8 */

html, body {
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    min-width: 460px;
    background: rgb(32, 28, 20);
    box-shadow: 0 0 24px rgb(58, 38, 30) inset;
    color: #fff;
    font-size: 14px;
}

.wrapper {
    padding: 10px;
}

h1 {
    margin: 0 0 10px;
    padding: 5px 0;
    font-size: 16px;
    font-weight: normal;
    text-shadow: 0 0 1px rgba(0, 0, 0, .5);
    text-align: center;

    background: -webkit-radial-gradient(center, ellipse cover, rgba(102, 85, 65, 1) 0%, rgba(0, 0, 0, 0) 61%);
}

.check-button {
    font-weight: bold;
    height: 32px;
    line-height: 32px;
    background: -webkit-linear-gradient(top, #377 0%, rgba(0, 0, 0, 0) 62%);
    box-shadow: 
        0 0 3px #399,
        0 0 2px #399,
        0 0 1px #399,
        0 0 15px rgba(0, 0, 0, 1) inset
    ;
    border-radius: 8px;
    text-align: center;
    text-shadow:
        0 0 1px rgba(0, 0, 0, .9),
        0 0 2px rgba(0, 0, 0, .9),
        0 0 3px rgba(0, 0, 0, .9)
    ;
}
.check-button.active {
    background:
        -webkit-linear-gradient(top, rgba(108, 255, 255, 1) 0%, rgba(51, 119, 119, 1) 25%, rgba(51, 119, 119, .2) 100%),
        -webkit-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 61%)
    ;
}

.check-button label {
    position: relative;
    cursor: pointer;
    display: block;
    width: 100%;
    height: 100%;
}
.check-button label:before {
    display: block;
    position: absolute;
    left: 8px;
    top: 8px;
    content: '';
    width: 16px;
    height: 16px;
    border-radius: 100%;
    background: -webkit-linear-gradient(top, #111 0%, #333 62%);
    box-shadow: 0 0 5px rgba(255, 255, 255, .5);
}
.check-button.active label:before {
    background: -webkit-radial-gradient(center, ellipse cover, #fff 0%, #54E4E4 85%);
}
.check-button input {
    display: none;
}

.check-button.check-button-vertical {
    width: 40px;
    height: 62px;
}
.check-button.check-button-vertical label {
    box-sizing: border-box;
    padding-top: 30px;
}
.check-button.check-button-vertical label:before {
    left: 12px;
}

.check-button-full {
    margin: 0 auto;
    width: 80%;
}

ul {
    margin: -8px 0 0 -8px;
    padding: 0;
    list-style: none;
    overflow: hidden;
}

li {
    float: left;
    margin: 8px;
    width: 130px;
}
li.full-size {
    width: auto;
    padding: 0 40px;
}


.block {
    margin: 20px 0;
}

.block:first-child {
    margin: 0;
}

.footer {
    width: 100%;
    margin-top: 25px;
    border-top: 1px solid rgba(255, 255, 255, .2);
    padding: 25px 0 10px;
}
.footer .button {
    position: relative;
    cursor: pointer;
    outline: 0;
    display: block;
    width: 70%;
    height: 40px;
    line-height: 40px;
    border-radius: 10px;
    margin: 0 auto;
    border: 0;
    background: #9ff;
    background:
        -webkit-linear-gradient(top, #9ff 0%, #388 62%)
    ;
    color: #fff;
    font-size: 15px;
    text-shadow:
        0 0 2px #000,
        0 0 2px #000,
        0 0 2px #000
    ;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .5);
    text-decoration: none;
    text-align: center;
}
.footer .button:active {
    top: 3px;
}


